<?xml version="1.0" encoding="utf-8" ?>

<!--A qui vai todos nossos arquivos de configuração-->

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	
	<appSettings>
		 <!-- <add key="BaseDeClientes" value="D:\Save Projects\Visual Studio 2022\Programação_Orientada_A_Função\db\Clientes.csv"/> -->
		 <add key="BaseDeClientes" value="D:\Save Projects\Visual Studio 2022\Programação_Orientada_A_Função\db\Clientes.txt"/> 
	</appSettings>
</configuration>